<h1><%= @book.title_was %></h1>

<%= render "books/form" %>

<%= form_tag "/books/#{@book.id}", method: "delete" do %>
    <input type="submit" value="Supprimer le livre" />
<% end %>

<p><a href="/books">Retourner à l'index</a></p>

<br/>




<!-- flash messages  (déplacé dans la partial : _form.html.erb -->
<!-- <h5 style="color: green; font-style: italic"><%= flash[:success] %></h5> -->

